/* BMI Style */
.page-title {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}

.desc {
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
    margin-top: 10px;
    font-size: 20px;
}

.container-bmi {
    margin: 50px auto;
    width: 400px;
    background-color: #D9D9D9;
    padding: 50px;
    border-radius: 30px;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
}

input {
    width: 100%;
    height: 35px;
    margin-top: 25px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: black;
    font-size: 22px;
}

button#bmi-button {
    width: 200px;
    height: 35px;
    margin-top: 25px;
    border-radius: 20px;
    border: none;
    background-color: #333333;
    color: white;
    font-size: 22px;
}

#result {
    margin-top: 20px;
    font-size: 25px;
}

.box {
    border-radius: 30px;
    background-color: #F2F1F1;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
    margin-top: 10px;
    font-size: 20px;
}

.box h3 { 
    padding-top: 30px;
    margin-right: 100px;
    margin-left: 100px;
    text-align: justify;
}

.box p {
    margin-right: 100px;
    margin-left: 100px;
    text-align: justify;
}

.box img {
    height: 30px;
    margin-right: 10px;
}

table{
    color: white;
    width: 350px;
}

th, td{
    text-align: left;
    padding: 4px;
}

.box2 {
    border-radius: 30px;
    background-color: #655E5E;
    border-radius: 25px;
    padding: 20px;
    width: 400px;
    height: auto;
    margin-left: 100px;
}

.box2 p {
    color: white;
    text-align: justify;
}

#toggleThis {
    padding: auto;
    width: 100%;
    background: #F2F1F1;
    text-align: end;
    cursor: pointer;
}

#content {
    padding: 15px;
    width: 100%;
    text-align: justify;
    font-size: 20px;
    display: none;
}

.list {
    margin-left: 100px;
}

#toggleThis2 {
    border-radius: 30px;
    margin-bottom: 40px;
    padding: auto;
    padding-bottom: 50px;
    width: 100%;
    background: #F2F1F1;
    text-align: end;
    cursor: pointer;
}

#toggleThis2.expanded {
    padding-bottom: 0;
}

#content2 {
    margin-bottom: 100px;
    padding: 15px;
    padding-bottom: 100px;
    width: 100%;
    text-align: justify;
    font-size: 20px;
    display: none;
}