@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

#Logo {
    width: 150px;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain aspect ratio */
}

body {
    margin: 0;
    padding: 0;
}

img.clickable {
    cursor: pointer;
}

button.clickable {
    cursor: pointer;
}

/* Style the navigation bar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-start; /* Adjust alignment as needed */
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Style the logo/image in the navbar */
.navbar img {
    height: 50px;
    margin-right: 10px;
}

/* Style the navigation links */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 10px; /* Adjust spacing between links */
}

.navbar a {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: semibold;
    border-bottom: 2px solid transparent; /* Add a transparent bottom border initially */
    transition: border-bottom-color 0.3s ease; /* Add transition effect for smoothness */
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #f2f2f2;
    color: #000;
}

/* Add bottom border to active link */
.navbar a.active {
    border-bottom-color: #000; /* Change the border color for active link */
}

footer {
    background-color: #333333;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Adjust to your preference */
    align-items: center;
}

footer p {
    margin: 0;
}

.logo-container {
    text-align: center; /* Center the logo horizontally */
}

.logo-container img {
    display: inline-block; /* Ensure the image behaves like an inline block */
    vertical-align: middle; /* Align the image vertically in the middle */
}

.copyright {
    color: #fff; /* Change the color to match your design */
    font-size: 14px; /* Adjust the font size as needed */
}

.footer-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-right: 20px; /* Adjust the spacing between links */
}

.footer-links li:last-child {
    margin-right: 0; /* Remove margin for the last link */
}

footer .footer-links a {
    color: #fff; /* Change the link color to white */
    text-decoration: none; /* Remove the underline */
}

.footer-links a:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* ANIMATIONS */
/* Define the slide-up animation */
@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Apply the animation to elements with the "slide-up" class */
.slide-up {
    animation: slideUp 0.5s ease-in-out;
    /* Adjust the animation duration and timing function as needed */
}

/* Ensure content is visible during animation */
.slide-up-visible {
    opacity: 1;
}

/* About Us typing animation */
.aboutUs.content p {
    overflow: hidden;
    white-space: normal; /* Change to white-space: normal; */
    margin: 0 auto;
    /* letter-spacing: .15em; */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    max-width: 100%; /* Adjust the max-width value as needed */
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

/* End of About Us typing animation */