@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

#Logo {
    width: 150px;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain aspect ratio */
}

body {
    margin: 0;
    padding: 0;
}

img.clickable {
    cursor: pointer;
}

button.clickable {
    cursor: pointer;
}

/* Style the navigation bar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-start; /* Adjust alignment as needed */
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Style the logo/image in the navbar */
.navbar img {
    height: 50px;
    margin-right: 10px;
}

/* Style the navigation links */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 10px; /* Adjust spacing between links */
}

.navbar a {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: semibold;
    border-bottom: 2px solid transparent; /* Add a transparent bottom border initially */
    transition: border-bottom-color 0.3s ease; /* Add transition effect for smoothness */
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #f2f2f2;
    color: #000;
}

/* Add bottom border to active link */
.navbar a.active {
    border-bottom-color: #000; /* Change the border color for active link */
}

header {
    margin-top: 100px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    padding: 10px 100px;
}

#card-1 {
    background-image: url('./assets/card-1.png');
    background-size: cover;
}

#card-2 {
    background-image: url('./assets/card-2.png');
    background-size: cover;
}

#card-3 {
    background-image: url('./assets/card-3.png');
    background-size: cover;
}

#card-4 {
    background-image: url('./assets/card-4.png');
    background-size: cover;
}

#card-5 {
    background-image: url('./assets/card-5.png');
    background-size: cover;
}

#card-6 {
    background-image: url('./assets/card-6.png');
    background-size: cover;
}

.cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 380px;
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
}

.cards .card:hover {
    transform: scale(1.1, 1.1);
}

.cards:hover>.card:not(:hover) {
    /* filter: blur(10px); */
    transform: scale(0.9, 0.9);
}

button#go-to-recipe {
    width: 150px;
    height: 50px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #333333;
    color: #e2e2e2;
    margin: 50px;
}

section {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

section p {
    margin-top: 30px;
    /* Adjust the top margin as needed */
    margin-bottom: 30px;
    /* Adjust the bottom margin as needed */
    text-align: justify;
    max-width: 1100px;
    /* Adjust the width as needed */
    margin-left: auto;
    /* Center the paragraph horizontally */
    margin-right: auto;
    /* Center the paragraph horizontally */
}

button#go-to-bmi {
    width: 100px;
    height: 50px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #333333;
    color: #e2e2e2;
    margin: 50px;
}

footer {
    background-color: #333333;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Adjust to your preference */
    align-items: center;
}

footer p {
    margin: 0;
}

.logo-container {
    text-align: center; /* Center the logo horizontally */
}

.logo-container img {
    display: inline-block; /* Ensure the image behaves like an inline block */
    vertical-align: middle; /* Align the image vertically in the middle */
}

.copyright {
    color: #fff; /* Change the color to match your design */
    font-size: 14px; /* Adjust the font size as needed */
}

.footer-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-right: 20px; /* Adjust the spacing between links */
}

.footer-links li:last-child {
    margin-right: 0; /* Remove margin for the last link */
}

footer .footer-links a {
    color: #fff; /* Change the link color to white */
    text-decoration: none; /* Remove the underline */
}

.footer-links a:hover {
    text-decoration: underline; /* Add underline on hover */
}
/* About Us Style */

header.aboutUs {
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
    height: 550px;
    background-image: url('assets/abousUs.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 100px;
    opacity: 0.9;
}

section.aboutUs p {
    text-align: center;
}

.offer {
    text-align: left;
    max-width: 1100px;
    /* Adjust the width as needed */
    margin-left: auto;
    /* Center the paragraph horizontally */
    margin-right: auto;
    /* Center the paragraph horizontally */
}

section .offer p {
    text-align: left;
}

.offer h2 {
    font-size: 18px;
}

.aboutUs.content p {
    overflow: hidden;
    white-space: normal; /* Change to white-space: normal; */
    margin: 0 auto;
    /* letter-spacing: .15em; */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    max-width: 100%; /* Adjust the max-width value as needed */
}

/* BMI Style */
.page-title {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}

.desc {
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
    margin-top: 10px;
    font-size: 20px;
}

.container-bmi {
    margin: 50px auto;
    width: 400px;
    background-color: #D9D9D9;
    padding: 50px;
    border-radius: 30px;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
}

input {
    width: 100%;
    height: 35px;
    margin-top: 25px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: black;
    font-size: 22px;
}

button#bmi-button {
    width: 200px;
    height: 35px;
    margin-top: 25px;
    border-radius: 20px;
    border: none;
    background-color: #333333;
    color: white;
    font-size: 22px;
}

#result {
    margin-top: 20px;
    font-size: 25px;
}

.box {
    border-radius: 30px;
    background-color: #F2F1F1;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
    margin-top: 10px;
    font-size: 20px;
}

.box h3 { 
    padding-top: 30px;
    margin-right: 100px;
    margin-left: 100px;
    text-align: justify;
}

.box p {
    margin-right: 100px;
    margin-left: 100px;
    text-align: justify;
}

.box img {
    height: 30px;
    margin-right: 10px;
}

table{
    color: white;
    width: 350px;
}

th, td{
    text-align: left;
    padding: 4px;
}

.box2 {
    border-radius: 30px;
    background-color: #655E5E;
    border-radius: 25px;
    padding: 20px;
    width: 400px;
    height: auto;
    margin-left: 100px;
}

.box2 p {
    color: white;
    text-align: justify;
}

#toggleThis {
    padding: auto;
    width: 100%;
    background: #F2F1F1;
    text-align: end;
    cursor: pointer;
}

#content {
    padding: 15px;
    width: 100%;
    text-align: justify;
    font-size: 20px;
    display: none;
}

.list {
    margin-left: 100px;
}

#toggleThis2 {
    border-radius: 30px;
    margin-bottom: 40px;
    padding: auto;
    padding-bottom: 50px;
    width: 100%;
    background: #F2F1F1;
    text-align: end;
    cursor: pointer;
}

#toggleThis2.expanded {
    padding-bottom: 0;
}

#content2 {
    margin-bottom: 100px;
    padding: 15px;
    padding-bottom: 100px;
    width: 100%;
    text-align: justify;
    font-size: 20px;
    display: none;
}

/* ANIMATIONS */
/* Define the slide-up animation */
@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Apply the animation to elements with the "slide-up" class */
.slide-up {
    animation: slideUp 0.5s ease-in-out;
    /* Adjust the animation duration and timing function as needed */
}

/* Ensure content is visible during animation */
.slide-up-visible {
    opacity: 1;
}

/* About Us typing animation */
.aboutUs.content p {
    overflow: hidden;
    white-space: normal; /* Change to white-space: normal; */
    margin: 0 auto;
    /* letter-spacing: .15em; */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    max-width: 100%; /* Adjust the max-width value as needed */
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

/* End of About Us typing animation */

/* RecipePage Style */
#search-bar, #filters select {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
}

#recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

#recipe-details {
    text-align: center;
    padding: 20px;
}

#recipe-details button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}